In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import scipy.optimize as op
plt.style.use("dark_background") # Config plots for dark mode, delete if on light mode
plt.rcParams['figure.dpi'] = 150 # Hi-res plots

In [2]:
bike_data = pd.read_csv("../data/processed_df.csv", index_col=0)
bike_data.head() # Load the processed bike data and inspect the first 5 rows

   start_id  end_id  start_time  duration  end_time      dist
1       103      37    47260920       360  47261280  1.458333
2        39     539    47260920       120  47261040  0.545517
3       785     785    47260920       300  47261220  0.000000
4       341     159    47260980      1800  47262780  1.092775
5       708     573    47260980      1080  47262060  3.607290

## Normalising time data

In [3]:
bike_data = pd.read_csv("../data/processed_df.csv", index_col=0)
bike_data.head() # Load the processed bike data and inspect the first 5 rows

# Find minimum start time
x = bike_data.min()["start_time"]
t_min = (x // 86400) * 86400

# Substract t_min from start_time and end_time
bike_data["start_time"] = (bike_data["start_time"] - t_min) / 60
bike_data["end_time"] = (bike_data["end_time"] - t_min) / 60

# Introduce random pertubations to make continuous
bike_data["start_time"] = bike_data["start_time"] + np.random.rand(*bike_data["start_time"].shape)
bike_data["end_time"] = bike_data["end_time"] + np.random.rand(*bike_data["end_time"].shape)

# Convert 'duration' column to minutes
bike_data["duration"] = bike_data.end_time - bike_data.start_time

bike_data.head()

   start_id  end_id  start_time  duration   end_time      dist
1       103      37    2.910460       360   8.223963  1.458333
2        39     539    2.406742       120   4.360204  0.545517
3       785     785    2.161620       300   7.945185  0.000000
4       341     159    3.244153      1800  33.483600  1.092775
5       708     573    3.655873      1080  21.534703  3.607290